<div id="main-header">
  <div id="main-title"> Step 1 - Pick a Conference:</div>
  <div id="main-controls"> </div>
</div>

<div id="main-body">
  
{% for conference in conferences %}

<div>
  <a class="conference-box-link"
     href="{{ url_for('conference', conference=conference.abbrev_name) }}">
    <div class="conference-box">
      <p class="conference-box-heading"> {{ conference.name }} </p>
      <img class="conference-box-logo"
           src="{{ url_for("static", filename = "images/conference_logos/" + conference.logo) }}">
    </div>
  </a>
</div>

{% endfor %}

</div>
