
<h1 class="main-h1"> Step 1 - Pick a Conference:</h1>
<div class="controls-div">
</div>

{% for conference in conferences %}

<div class="conference-box">
  <a class="conference-a"
     href="{{ url_for('conference', conference=conference.abbrev_name) }}">

    <h3> {{conference.name}} </h3>
    <p>
      {% for team in conference.teams %}
      <img class="team-logo-img" src="{{ url_for("static", filename=team.logo) }}">
      <span class="team-name-span"> {{team.name}} {{team.nickname}} </span> <br>
      {% endfor %}
    </p>
  </a>
</div>

{% endfor %}
