<!DOCTYPE=html>

<html>
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/tickets.css') }}">
    {% if google_sign_in %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"> </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    {% endif %}  
</head>

<body>

<div id="container">

    <div id="header">
        <h1 id="header-title-h1">
            <a id="title-a" href="{{ url_for('conferences') }}"> Tickets 'R' Us </a>
        </h1>
        <div id="header-login-div">
            <p>
                {% for message in get_flashed_messages() %}
                {{ message }}<br>
                {% endfor %}
            </p>
        </div>
    </div> <!-- header -->

    <div id="main">
        <div>
            <h1> Login via Google or Facebook </h1>
            <!-- GOOGLE PLUS SIGN IN-->

            <div id="signInButton">
                <span class="g-signin"
                      data-scope="openid email"
                      data-clientid="{{google_app_id}}"
                      data-redirecturi="postmessage"
                      data-accesstype="offline"
                      data-cookiepolicy="single_host_origin"
                      data-callback="signInCallback"
                      data-approvalprompt="force">
                </span>
            </div>

            <div id="result"></div>
            
            <script>
                {{google_connect_js}}
            </script>

            <!--END GOOGLE PLUS SIGN IN -->

            <!--FACEBOOK SIGN IN -->
            <div id="fb-root"></div>
            <!--
            <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=907786629329598&autoLogAppEvents=1"></script>

            <div class="fb-login-button"
                 data-size="medium"
                 data-button-type="continue_with"
                 data-auto-logout-link="false"
                 data-use-continue-as="false">
            </div>
            -->
            <script>
              {{fb_connect_js}}
            </script>
            <fb:login-button
              scope=""
              onlogin="sendTokenToServer();">
              <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
            </fb:login-button>
            <!--END FACEBOOK SIGN IN -->
            
            <div class="rant">
                <p>
                    Notice how the Facebook login button messes up my layout?
                    Reload this page and see how it jumps around.
                    What's up with that?  
                </p>
                <p>
                    The fb javascript code for the button creates some
                    weird hidden &lt;iframe&gt;s and they
                    don't seem to play well with flex-box.
                    Is that really necessary?  Why can't I have a simple
                    button with a simple onclick function? C'mon Facebook!
                </p>
            </div>
        </div>
    </div> <!-- main -->

</div> <!-- container -->

</body>

</html>
