

dict2xml


flask
flask.__version__


flask seasurf
flask.ext.seasurf.__version__
'0.2.'1

sqlalchemy


postgresql


sqlite



def engine_version():
    if engine_type == 'postgres':
        from psycopg2 import __version__
        return '

psycopg2.__version__


sqlite3.version



