/*
 * fullstack-p4-tickets/static/style/sizes.css
 */

/*
  box-sizing simplifies box arithmetic by including border and
  padding in the box dimensions
*/

body, div, ul, li, p, h1, h2, h3, h4, h5, h6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}

body, div, ul, li, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 29px;
}

h3 {
    font-size: 20px;
    line-height: 22px;
}

h4 {
    font-size: 14px;
    line-height: 17px;
}

p {
    font-size: 14px;
    line-height: 21px;
}

body,
.ticket,
.team,
.team_logo,
.team_name,
.main {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

div.schedule {
    justify-content: beginning;
    flex-direction: column;
    border: 1px solid #444;
    padding: 10px;
}

.ticket,
.team,
.team_logo,
.team_name {
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

hr {
    color: #000;
    width: 100%;
}


p.schedule {
    text-align: left;
}

.team-logo {
    width: 50px;
    height: 50px;
}

.team-name {
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

.schedule-team-logo {
    width: 15px;
    height: 15px;
}

a.game {
    text-decoration: none;
    color: #444;
}

.team-a {
    text-decoration: none;
    color: #444;
}

span.home_game {
    font-weight: bold;
}

span.away_game {
    font-weight: normal;
}

span.nav-conference {
    font-weight: bold;
    color: red;
}

div.box {
    border: 1px solid #444;
    padding: 15px;
    margin: 15px;
    width: 280px;
}

team-name-span {
    font-weight: normal;
    color: #444;
}

team-nickname-span {
    font-weight: normal;
    color: #444;
}

.main {
    text-align: left;
    flex-direction: row;
}

.conference {
    justify-content: left;
    flex-direction: row;
    margin-top: 20px;
    border-color: #000;
    background: #fff;
    padding: 15px;
    border: 1px solid #444;
}


.team {
    justify-content: left;
    flex-direction: row;
    margin-top: 20px;
    border-color: #000;
    background: #fff;
}

body {
    justify-content: space-around;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

div.seat {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    border: 1px solid transparent;
    border-top-color: 1px dotted #444;
    color: #444;
    background: #fff;
}

p.seat {
    font-family: monospace;
    font-weight: normal;
    font-style: normal;
    font-size: x-small;
}

div.date {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: small;
}

div.college-football {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: large;
    color: #222;
    background: #ddd;
}

.ticket {
    width: 150px;
    margin: 10px;
    padding: 0;
    border: 1px solid #446;
    background: #fff;
}

.team {
    width: 80%;
    margin: 10%;
    border: 1px solid transparent;
}

.team_logo {
    width: 50px;
    height: 50px;
}

.team-logo-img {
    width: 20px;
    height: 20px;
}

table {
    border: 1px solid #444;
    border-collapse: collapse;
}

tr {
    border: 1px solid #444;
    border-collapse: collapse;
}

td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px;
}

.game-page-logo {
    width: 40px;
    height: 40px;
}

.team_name {
    width: 80%;
    font-size: 10pt;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

div.at {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}