<div>
    <div id="game-heading">
    <div class="game-team">
        <img class="team-logo" src="/{{ticket_lot.game.visiting_team.logo}}">
        {{ticket_lot.game.visiting_team.name}}
        <!-- {{ticket_lot.game.visiting_team.nickname}} -->
    </div>
    <div class="game-at">
        at
    </div>
    <div class="game-team">
        <img class="team-logo" src="/{{ticket_lot.game.home_team.logo}}">
        {{ticket_lot.game.home_team.name}}
        <!-- {{ticket_lot.game.home_team.nickname}} -->
    </div>
    </div>

    <h3> {{ticket_lot.game.date.strftime("%A %B %d, %Y")}} </h3>


    <div class="game-tickets">
        <form action="{{ url_for('edit_tickets', ticket_lot_id=ticket_lot.id)}}" method = "post">
            Section: {{ticket_lot.section}} <br>
            Row: {{ticket_lot.row}} <br>
            First seat: {{ticket_lot.seats()[0]}} <br>
            Number of seats: {{ticket_lot.num_seats()}} <br>
            Price per ticket: <input type="text" maxlength="10" name="price" value="{{ticket_lot.price}}"> <br>
            <input type="hidden" name="game_id" value="{{ticket_lot.game.id}}">
            <input type="hidden" name="user_id" value="{{login_session['user_id']}}">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

