<!DOCTYPE=html>
<!--
 - index.html
 - 
 - Author: Al Carruth
 - Origin: 
 -
 - This file is part a project submitted by the author for the
 - Udacity Full Stack Fundamentals Course
 - 
-->

<html>
<head>
    <meta charset="UTF-8">
    <title> {{team.name}} {{team.nickname}} </title>
    <link rel="stylesheet" href="/static/style/tickets.css">
</head>

<body>
    <div class="main">
    <h1>  {{team.name}} {{team.nickname}} </h1>
    <p class="schedule">
    {% for game in team.schedule() %}
    <a class="game" href="/game/{{game.id}}">
        {% if team == game.home_team %}
        <span class="home_game">
            {{game.date.strftime("%a %b %d")}}
            vs
            <img class="schedule-team-logo" src="/{{game.visiting_team.logo}}">
            {{game.visiting_team.name}} <!-- {{game.visiting_team.nickname}} --> 
            <br>
        </span>
        {% else %}
        <span class="away_game">
            {{game.date.strftime("%a %b %d")}}
            @
            <img class="schedule-team-logo" src="/{{game.home_team.logo}}">
            {{game.home_team.name}} <!-- {{game.home_team.nickname}} -->
            <br>
        </span>
        {% endif %}
    </a>
    {% endfor %}
    </p>
    </div>
</body>

</html>
