    <div class="ticket">
        <div class="team" class="visiting">
            <img class="team_logo" src="{visitors_logo}">
            <span class="team_name">
               {visitors_name} {visitors_nickname}
            </span>
        </div>
        <div class="at"> at </div>
        <div class="team" class="home">
            <img class="team_logo" src="{home_team_logo}">
            <span class="team_name">
                {home_team_name} {home_team_nickname}
            </span>
        </div>
    </div>

