{% for ticket in tickets %}

    {% visitor = ticket.game.visitor %}
    {% home = ticket.game.home %}
    {% seat = ticket.seat %}

    <div class="ticket">
        <div class="team" class="visiting">
            <img class="team_logo" src="{{visitor.logo}}">
            <span class="team_name">
               {{visitor.name}} 
               {{visitor.nickname}}
            </span>
        </div>
        <div class="at"> at </div>
        <div class="team" class="home">
            <img class="team_logo" src="{{home.logo}}">
            <span class="team_name">
                {{home.name}} {{home.nickname}}
            </span>
        </div>
    </div>

{% endfor %}
