<!DOCTYPE=html>
<!--
 - index.html
 - 
 - Author: Al Carruth
 - Origin: 
 -
 - This file is part a project submitted by the author for the
 - Udacity Full Stack Fundamentals Course
 - 
-->

<html>
<head>
    <meta charset="UTF-8">
    <title> {{ticket_lot.game.visiting_team.name}} at {{ticket_lot.game.home_team.name}} </title>
    <link rel="stylesheet" href="/static/style/tickets.css">
</head>

<body>

<div id="header">
    <h1> Tickets 'R' Us </h1>
</div>

<div id="main">
    <div class="college-football">
        <h3>
            {{ticket_lot.game.visiting_team.name}}
            at 
            {{ticket_lot.game.home_team.name}}
        </h3>
        <p> 
        {{ticket_lot.game.date.strftime("%A %B %d, %Y")}} <br>
        Price each: ${{ticket_lot.price}} <br>
        Seller: {{ticket_lot.seller.name}} <br>
        Contact: <a href="mailto:{{ticket_lot.seller.email}}">
                {{ticket_lot.seller.email}} </a>
        </p>
    </div>
    {% for ticket in ticket_lot.tickets %}

    <div class="ticket">
        <div class="college-football">
            College Football
        </div>
        <div class="team" class="visiting">
            <img class="team-logo" src="/{{ticket_lot.game.visiting_team.logo}}">
            <span class="team-name">
               {{ticket_lot.game.visiting_team.name}} {{ticket_lot.game.visiting_team.nickname}}
            </span>
        </div>
        <div class="at"> at </div>
        <div class="team" class="home">
            <img class="team-logo" src="/{{ticket_lot.game.home_team.logo}}">
            <span class="team-name">
                {{ticket_lot.game.home_team.name}} {{ticket_lot.game.home_team.nickname}}
            </span>
        </div>
        <div class="date">
            {{ticket_lot.game.date}}
        </div>
        <div class="seat">
            <p class="seat">
                Sec: {{ticket_lot.section}} 
                Row: {{ticket_lot.row}} <br>
                Seat: {{ticket.seat}}
            </p>
        </div>
    </div>

    {% endfor %}

</div>

</body>

</html>
