/*
 * fullstack-p4-tickets/static/style/sizes.css
 */

/*
  box-sizing simplifies box arithmetic by including border and
  padding in the box dimensions
  */

body, div, ul, li, p, h1, h2, h3, h4, h5, h6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
}

body, div, ul, li, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4 {
    width: 100%;
}

body {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    /* TODO */
    background-image: url("/static/images/FF8a5Ku_2000_cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: beginning;
    width: 100%;
    max-width: 1200px;
}

#login-container {
    width: 100%;
    max-width: 1000px;
    background: #fff;
}

#header,
#footer,
#main {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
}

#title-a {
    color: #ddd;
    text-decoration: none;
}

.rant {
    color: red;
    background: black;
    width: 50%;
    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
    text-align: left;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

#game-heading {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div.sub-header {
    width: 100%;
}

.login a {
    text-decoration: none;
    color: #fff;
}

#header,
#footer {
    color: #ddd;
    background: #337;
}

#header {
    height: 100px;
    padding-top: 20px;
}

#header-title-div {
    width: 50%;
}

#header-title-h1 {
    width: 100%;
}

#header-login-div {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 50%;
    margin-top: 10px;
}

.header-login-a {
    margin-left: 20px;
    color: #ddd;
    text-decoration: none;
}

#main {
    background: #fff;
    opacity: 1.0;
    padding-top: 20px;
    min-height: 700px;
}

.main-h1 {
    width: 50%;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding-left: 20px;
}

.controls-div {
    width: 50%;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

.game-team {
    width: 100px;
}

.game-at {
    width: 50px;
    padding-top: 100px;
}

.box {
    border: 1px solid #444;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 10px;
    width: 320px;
    text-align: left;
    background-color: #fff;
    opacity: 1.0;
}

.conference-box {
    font-size: 10px;
    border: 1px solid #444;
    padding: 10px;
    margin: 5px;
    width: 196px;
    text-align: left;
    background-color: #fff;
    opacity: 1.0;
}

.conference-box:hover {
    background: #ffe;
    opacity: 1.0;
}

.conference-a,
.ticket-lot-a {
    text-decoration: none;
}

.conference-a:hover,
.ticket-lot-a:hover {
    text-decoration: none;
    background: #ffe;
}

.tickets-img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

.full-row {
    width: 100%;
}
/*
*/

.game-tickets {
    border: 1px solid #444;
    padding: 15px;
    margin: 15px;
    background: #fff;
}

.schedule-div {
    justify-content: beginning;
    flex-direction: column;
    border: 1px solid #444;
    padding: 10px;
}

.team-name {
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.team-name-span {
    font-weight: normal;
    color: #444;
}

.game-a {
    text-decoration: none;
    color: #444;
    border: 1px solid transparent;
    width: 100%;
}

.game-a:hover {
/*
    background: #bbb;
    border-color: #444;
 */
}

.team-a {
    text-decoration: none;
    color: #444;
}

.schedule-p {
    text-align: left;
}

.schedule-team-logo {
    width: 15px;
    height: 15px;
}

.schedule-home-span {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
    font-weight: bold;
}
.schedule-home-span:hover {
    border-color: #444;
    background: #ffe;
}
.schedule-away-span {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
    font-weight: normal;
}
.schedule-away-span:hover {
    border-color: #444;
    background: #ffe;
}

span.nav-conference {
    font-weight: bold;
    color: red;
}

team-name-span {
    font-weight: normal;
    color: #444;
}

team-nickname-span {
    font-weight: normal;
    color: #444;
}

.conference {
    justify-content: left;
    flex-direction: row;
    margin-top: 20px;
    border-color: #000;
    background: #fff;
    padding: 15px;
    border: 1px solid #444;
}


.team {
    justify-content: left;
    flex-direction: row;
    margin-top: 20px;
    border-color: #000;
    background: #fff;
}

div.seat {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    border: 1px solid transparent;
    border-top-color: 1px dotted #444;
    color: #444;
    background: #fff;
}

p.seat {
    font-family: monospace;
    font-weight: bold;
    font-style: normal;
    font-size: normal;
}

div.date {
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: small;
}

div.college-football {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: large;
    color: #222;
    background: #ddd;
}

.ticket {
    width: 175px;
    margin: 10px;
    padding: 0;
    border: 1px solid #446;
    background: #fff;
}

.team {
    width: 80%;
    margin: 10%;
    border: 1px solid transparent;
}

.team-logo {
    width: 100px;
    height: 100px;
}

.team-logo-img {
    width: 20px;
    height: 20px;
}

table {
    border: 1px solid transparent;
    border-collapse: collapse;
}

tr {
    border: 1px solid transparent;
    border-collapse: collapse;
}

th {
    padding-left: 15px;
    padding-right: 0px;
    text-align: left;
}

td {
    border: 1px solid transparent;
    border-collapse: collapse;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

td.price {
    text-align: right;
}

.game-page-logo {
    width: 40px;
    height: 40px;
}

