/*
 * fullstack-p4-tickets/static/style/sizes.css
 */

/*
  box-sizing simplifies box arithmetic by including border and
  padding in the box dimensions
*/

body, div, ul, li, p, h1, h2, h3, h4, h5, h6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4 {
  width: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  /* TODO */
  background-image: url("/apps/tickets/static/images/FF8a5Ku_2000_cropped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

#container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#login-container {
  width: 100%;
  max-width: 1000px;
  background: #fff;
}

#header,
#footer,
#main {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: normal;
  padding: 3vw;
  width: 100vw;
}

#header {
  height: 5vh;
}

#footer {
  height: 5vh;
}

#title-a {
  color: #ddd;
  text-decoration: none;
}

.rant {
  color: red;
  background: black;
  width: 50%;
  margin: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 30px;
  text-align: left;
  font-family: arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

#game-heading {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

div.sub-header {
  width: 100%;
}

.login a {
  text-decoration: none;
  color: #fff;
}

#header,
#footer {
  color: #ddd;
  background: #337;
}

#header {
  height: 100px;
  padding-top: 20px;
}

#header-title-div {
  width: 50%;
}

#header-title-h1 {
  width: 100%;
}

#header-login-div {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  width: 50%;
  margin-top: 10px;
}

.header-login-a {
  margin-left: 20px;
  color: #ddd;
  text-decoration: none;
}

#main {
  min-height: 75vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  width: 100vw;
  max-width: 720px;
}

#main-body {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: normal;
  padding: 0;
  padding-top: 2vw;
  width: 100vw;
  max-width: 720px;
}

#main-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#main-title {
  width: 50%;
  font-size: 2.2vw;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding-left: 2vw;
}

#main-controls {
  width: 50%;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding-left: 0px;
}

.controls-div {
  width: 30%;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  padding-left: 0px;
}

.game-team {
  width: 100px;
}

.game-at {
  width: 50px;
  padding-top: 100px;
}

.box {
  border: 1px solid #444;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin: 10px;
  width: 320px;
  text-align: left;
  background-color: #fff;
  opacity: 1.0;
}

.team-box,
.conference-box {
  width: 120px;
  height: 120px;
  font-size: 12px;
  border: 1px solid #444;
  padding: 0;
  padding-top: 10px;
  margin: 10px;
  background-color: #f0f0e0;
  opacity: 0.7;
}

.team-box:hover,
.conference-box:hover {
  background: #f0f0e0;
  opacity: 1.0;
}

.team-box-link,
.team-box-link:visited,
.conference-box-link,
.conference-box-link:visited {
  color: #239;
  text-decoration: none;
}

.team-box-link:hover,
.conference-box-link:hover {
/*  background: #ffe; */
}

.team-box-heading,
.conference-box-heading {
  color: #444;
/*  font-size: 11px; */
  text-align: center;
  height: 25px;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-box-logo,
.conference-box-logo {
  width: 5vw;
  height: auto;
  margin: 0;
}

.ticket-lots-table {
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.ticket-lots-header {
}

.ticket-lots-row {
}

.ticket-lots-table-th {
}

.ticket-lots-table-td {
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-collapse: collapse;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.ticket-lot {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: normal;
  padding: 0;
  padding-top: 2vw;
  width: 100vw;
  max-width: 720px;
}

#ticket-lot-description {
  width: 30%;
}

#ticket-lot-controls {
  width: 65%;
}

.ticket {
  font-size: 10px;
  font-weight: normal;
  width: 100px;
  margin: 5px;
  padding: 0;
  border: 1px solid #446;
  background: #fff;
}

.ticket-top {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  color: #222;
  background: #ddd;
}

.ticket-team {
  justify-content: left;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #000;
  background: #fff;
}

.ticket-team-logo {
  width: 75%;
  height: auto;
}

.ticket-team-name {
  font-size: 10px;
  font-weight: bold;
  justify-content: left;
  flex-direction: row;
  margin-top: 5px;
  border-color: #000;
  background: #fff;
}

.ticket-at {
  font-weight: normal;
  font-size: 8px;
  font-style: normal;
}

div.ticket-seat {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  border: 1px solid transparent;
  border-top: 1px dotted #444;
  color: #444;
  background: #fff;
}

p.ticket-seat {
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  font-size: 8px;
}

.ticket-date {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}

.ticket-lot-a {
  text-decoration: none;
}

.ticket-lot-a:hover {
  text-decoration: none;
  background: #ffe;
}

.tickets-img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

.game-view-row {
   width: 100%;
}

#game-view {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #444;
  padding: 15px;
  margin: 15px;
  background: #fff;
}

.game-view-row {
   width: 100%;
}

#game-view-heading {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.game-view-team {
}

.game-view-at {
  font-size: 10px;
  font-weight: normal;
  margin: 27px;
}

.game-view-team-logo {
  width: 60px;
  height: auto;
}

.game-view-team-name {
  font-size: 11px;
  font-weight: bold;
}

#game-view-date {
  display: block;
  font-size: 11px;
  font-weight: bold;
}

#game-view-notice {
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin: 10px;
}

#game-tickets {
  border: 1px solid #444;
  padding: 15px;
  margin: 15px;
  background: #fff;
}

.schedule-div {
  justify-content: beginning;
  flex-direction: column;
  border: 1px solid #444;
  padding: 10px;
}

.team-name {
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.team-name-span {
  font-weight: normal;
  color: #444;
}

.team-a {
  text-decoration: none;
  color: #444;
}

.schedule-box {
  width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.schedule {
  text-align: left;
  font-size: 20px;
  width: 100%;
}

.schedule-header {
  width: 100%;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.schedule-header-team-logo {
  width: 20%;
  border: 0;
  margin: 3%;
}

.schedule-header-team-name {
  color: #444;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  width: 66%;
  border: 0;
  margin: 3%;
  margin-top: 17px;
}

.schedule-hr {
  width: 96%;
  height: 0;
  color: #444;
  margin: 0;
  margin-bottom: 10px;
}

.schedule-game-a {
  text-decoration: none;
}

.schedule-game {
  color: #444;
  width: 100%;
  height: 36px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid transparent;
}

.schedule-game:hover {
  border-color: #444;
  background: #ffe;
  opacity: 1;
}

.schedule-team-logo {
  width: 30px;
  height: auto;
}

.schedule-span {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

.schedule-home-span {
  font-weight: bold;
}

.schedule-away-span {
  font-weight: normal;
}

span.nav-conference {
  font-weight: bold;
  color: red;
}

team-name-span {
  font-weight: normal;
  color: #444;
}

team-nickname-span {
  font-weight: normal;
  color: #444;
}

.conference {
  justify-content: left;
  flex-direction: row;
  margin-top: 20px;
  border-color: #000;
  background: #fff;
  padding: 15px;
  border: 1px solid #444;
}


.team {
  justify-content: left;
  flex-direction: row;
  margin-top: 20px;
  border-color: #000;
  background: #fff;
}

div.seat {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  border: 1px solid transparent;
  border-top-color: 1px dotted #444;
  color: #444;
  background: #fff;
}

p.seat {
  font-family: monospace;
  font-weight: bold;
  font-style: normal;
  font-size: normal;
}

div.date {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: small;
}

.team {
  width: 80%;
  margin: 10%;
  border: 1px solid transparent;
}

.team-logo-small {
  width: 100px;
  height: 100px;
}

.team-logo-small-img {
  width: 20px;
  height: 20px;
}

table {
  border: 1px solid transparent;
  border-collapse: collapse;
}

tr {
  border: 1px solid transparent;
  border-collapse: collapse;
}

th {
  padding-left: 15px;
  padding-right: 0px;
  text-align: left;
}

td {
  border: 1px solid transparent;
  border-collapse: collapse;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

td.price {
  text-align: right;
}

.game-page-logo {
  width: 40px;
  height: 40px;
}

