<!DOCTYPE=html>
<!--
 - index.html
 - 
 - Author: Al Carruth
 - Origin: 
 -
 - This file is part a project submitted by the author for the
 - Udacity Full Stack Fundamentals Course
 - 
-->

<html>
<head>
    <meta charset="UTF-8">
    <title> {{game.visiting_team.name}} at {{game.home_team.name}} </title>
    <link rel="stylesheet" href="/static/style/tickets.css">
</head>

<body>

<div id="header">
    <h1> Tickets 'R' Us </h1>
</div>

<div id="main">
    <h1>  
        {{user.name}} <br>
        {{user.email}}
    </h1>

    <div class="game-tickets">
        <table class="tickets">
            <tr class="ticket-lot">
                <th> Visitor </th>
                <th> Home </th>
                <th> Date </th>
                <th class="section"> Section </td>
                <th class="row"> Row </td>l ;bv
                <th class="seats"> Seats </td>
                <th class="price"> Price (ea) </td>
            </tr>
            {% for ticket_lot in user.ticket_lots %}
            <tr class="ticket-lot">
                <td> {{ticket_lot.game.visiting_team.name}} </td>
                <td> {{ticket_lot.game.home_team.name}} </td>
                <td> {{ticket_lot.game.date}} </td>
                <td class="section"> Section {{ticket_lot.section}} </td>
                <td class="row"> Row {{ticket_lot.row}} </td>
                <td class="seats"> {{ticket_lot.seats_str()}} </td>
                <td class="price"> ${{ticket_lot.price}} </td>
                <td class="view-button">
                    <a class="ticket-lot-a" href="/tickets/{{ticket_lot.id}}">
                        <button> View Tickets </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
         </table>
    </div>

</div>

</body>

</html>
